﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kursy walut";
}

<fieldset class="bord">
    <h4>
        PRZEPRASZAMY  
        <i class="fa fa-exclamation"></i>
    </h4>
    <p>
        Serwer NBP nie odpowiada - prosimy spróbować później.
    </p>
</fieldset>