﻿@model Currenda.Models.Db.ExchangeRate

@{
    ViewBag.Title = "Kursy walut";
}

<h3>
    Aplikacja oblicza średni kurs kupna oraz odchylenie standardowe kursów sprzedaży wybranej waluty w podanym przedziale czasowym, w oparciu o dane udostępnione przez NBP.
</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="bord">
        <div class="create-label">
            @Html.LabelFor(model => model.CurrencyCode, "Wybierz walutę:")
        </div>
        <div class="create-field">
            @Html.DropDownListFor(model => model.CurrencyCode, (SelectList)ViewBag._currencyCode)
            @Html.ValidationMessageFor(model => model.CurrencyCode)
        </div>

        <div class="create-label">
            @Html.LabelFor(model => model.StartDate, "Data początkowa:")
        </div>
        <div class="create-field">
            @Html.EditorFor(model => model.StartDate, "DateEmpty")
            <i class="fa fa-calendar"></i>
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="create-label">
            @Html.LabelFor(model => model.EndDate, "Data końcowa:")
        </div>
        <div class="create-field">
            @Html.EditorFor(model => model.EndDate, "DateEmpty")
            <i class="fa fa-calendar"></i>
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
        
        <button type="submit" class="show" >
            <i class="fa fa-check-square-o"></i> Wyświetl wynik
        </button>

        @if (Model != null && Model.AverageBuyingRate != null && Model.StandardDeviation != null && Model.AverageBuyingRate != 0 && Model.StandardDeviation != 0)
        {
            <div class="create-label">
                @Html.LabelFor(model => model.AverageBuyingRate, "Średni kurs kupna:")
            </div>
            <div class="create-field">
                @Html.DisplayFor(model => model.AverageBuyingRate) 
            </div>

            <div class="create-label">
                @Html.LabelFor(model => model.StandardDeviation, "Odchylenie standardowe:")
            </div>
            <div class="create-field">
                @Html.DisplayFor(model => model.StandardDeviation) 
            </div>
        }

    </fieldset>
}