﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kursy walut";
}

<fieldset class="bord">
    <p>
        Przepraszamy, <br />
        NBP nie udostępnia kursu wybranej waluty w podanym przedziale czasowym.
    </p>

    <a href="@Url.Action("Index")"><p class="link"><i class="fa fa-undo"></i> Wróć do aplikacji</p></a>
</fieldset>